<script lang="ts">
    import LoadingSpinner from '../icons/LoadingSpinner.svelte';
</script>

<div class="flex h-screen">
    <div class="m-auto text-zinc-600 dark:text-zinc-200">
        <LoadingSpinner />
    </div>
</div>
