<div class="p-4 max-w-sm animate-fade-in">
    <div class="animate-pulse flex space-x-4">
        <div class="flex-1 space-y-10 py-1">
            <div class="h-2 bg-zinc-300 dark:bg-zinc-700 rounded" />
            <div class="space-y-3">
                <div class="grid grid-cols-3 gap-4">
                    <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded col-span-2" />
                </div>
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded" />
                <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded" />

                <div class="grid grid-cols-3 gap-4">
                    <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded col-span-2" />
                </div>
                <div class="grid grid-cols-4 gap-4">
                    <div class="h-2 bg-zinc-200 dark:bg-zinc-700 rounded col-span-2" />
                </div>
            </div>
        </div>
    </div>
</div>
