<script>export let className="h-4 w-4"; export let viewBox="0 0 20 20";</script><svg xmlns="http://www.w3.org/2000/svg" {viewBox} class={className} fill="currentColor" aria-hidden="true">
  <path class={className} fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
</svg>
