<script>export let className="h-4 w-4"; export let viewBox="0 0 24 24";</script><svg xmlns="http://www.w3.org/2000/svg" class={className} fill="none" {viewBox} stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
</svg>
