<script>
    export let className = 'h-4 w-4';
    export let viewBox = '0 0 20 20';
</script>

<svg xmlns="http://www.w3.org/2000/svg" {viewBox} class={className} fill="currentColor" aria-hidden="true">
    <path
        class={className}
        fill-rule="evenodd"
        d="m19.44213,9.02491l-8.65226,-8.6512c-0.49783,-0.49828 -1.30592,-0.49828 -1.80437,0l-1.79655,1.79672l2.27886,2.27886c0.52978,-0.17887 1.13701,-0.05894 1.55911,0.36324c0.42429,0.42481 0.54336,1.03723 0.36001,1.56878l2.19642,2.19642c0.53138,-0.18312 1.14447,-0.06481 1.56878,0.36025c0.59321,0.59304 0.59321,1.554 0,2.14719c-0.5933,0.59339 -1.55426,0.59339 -2.14789,0c-0.44605,-0.4464 -0.55637,-1.10177 -0.33045,-1.65135l-2.0484,-2.0484l-0.00017,5.39034c0.14462,0.07159 0.28111,0.16715 0.40163,0.28714c0.59304,0.59297 0.59304,1.55375 0,2.14772c-0.59321,0.59295 -1.55461,0.59295 -2.14719,0c-0.59313,-0.59391 -0.59313,-1.55469 0,-2.14772c0.14658,-0.14632 0.31619,-0.25707 0.49717,-0.33131l0,-5.44043c-0.18106,-0.07392 -0.35047,-0.18385 -0.49727,-0.33134c-0.44927,-0.44892 -0.55747,-1.1083 -0.32706,-1.65999l-2.24651,-2.24686l-5.93214,5.93196c-0.49844,0.49866 -0.49844,1.30675 0,1.80507l8.65174,8.65122c0.49811,0.49828 1.30592,0.49828 1.80472,0l8.61174,-8.61035c0.49828,-0.49852 0.49828,-1.30686 0,-1.80524"
    />
</svg>
