<script>
    export let className = 'h-4 w-4';
    export let viewBox = '0 0 20 20';
</script>

<svg on:click xmlns="http://www.w3.org/2000/svg" {viewBox} class={className} fill="currentColor" aria-hidden="true">
    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
</svg>
