<script>export let className="h-4 w-4"; export let viewBox="0 0 24 24";</script><svg xmlns="http://www.w3.org/2000/svg" class={className} fill="none" {viewBox} stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
</svg>
