<script lang="ts">
    import PlusSmIconSolid from '$lib/components/icons/PlusSmIconSolid.svelte';

    import { t } from '$lib/translations';

    export let label = $t('common.add');
    export let route = '';
    export let permanent: boolean = false;
</script>

<a
    href={route}
    title={label}
    class:invisible={!permanent}
    on:click
    class="group-hover:visible ml-1 text-zinc-600 dark:text-zinc-500 hover:dark:text-zinc-200 border-transparent rounded hover:dark:border-zinc-200"
>
    <PlusSmIconSolid />
</a>
