<script lang="ts">
    import type { IFragment, IFragments } from '$lib/interfaces/fragment';
    import { rootFragments } from '$lib/stores/data-lists';
    import { appDragState } from '$lib/stores/drag-state';
    import { fragmenter } from '$lib/utils/fragmenter';
    import SideMenuFragment from './SideMenuFragment.svelte';
    import SideMenuListContainer from './SideMenuListContainer.svelte';
    import SideMenuSeparator from './SideMenuSeparator.svelte';

    export let id: number | null;
    export let fragments: IFragments;

    const drop = async (event: CustomEvent, after: IFragment | null) => {
        const dragging = $appDragState.dragging;
        const rfragments = $rootFragments;

        await fragmenter.unlist(rfragments, dragging);
        await fragmenter.insert(id, id === null ? rfragments : fragments, !!after ? after.id : null, dragging);
        rootFragments.set([...rfragments]);
    };
</script>

<SideMenuListContainer padded={!!id}>
    {#if fragments.length}
        <SideMenuSeparator on:drop={(e) => drop(e, null)} />
    {/if}

    {#each fragments as fragment}
        {#if fragment}
            <SideMenuFragment {fragment} />
            <SideMenuSeparator on:drop={(e) => drop(e, fragment)} />
        {/if}
    {/each}
</SideMenuListContainer>
