<script lang="ts">
    export let id: string = '';
    export let padded: boolean = false;
</script>

<ul role="menu" {id} class="flex flex-col overflow-hidden w-full" class:pl-3={padded}>
    <slot />
</ul>
