<script lang="ts">
    export let hovered: boolean = false;
    export let marged: boolean = false;
</script>

<li
    on:click
    role="menuitem"
    class="text-zinc-900 rounded-sm"
    class:ml-3={marged}
    class:bg-pacific-500={hovered}
    class:dark:text-zinc-200={!hovered}
    class:dark:text-zinc-900={hovered}
>
    <slot />
</li>
