<script lang="ts">
    export let href: string;
    export let text: string;
</script>

<a {href} class="flex items-center underline text-zinc-900 dark:text-zinc-300 hover:dark:text-zinc-100">
    <slot />
    <span>{text}</span>
</a>
