<script lang="ts">
    export let text: string;
</script>

<button class="flex items-center text-zinc-900 dark:text-zinc-300 hover:dark:text-zinc-100" on:click>
    <slot />
    <span>{text}</span>
</button>
