<script lang="ts">
    import { session } from '$app/stores';
    import { apiPatch } from '$lib/api';

    import ToggleButton from '$lib/components/forms/ToggleButton.svelte';
    import CogIconSolid from '$lib/components/icons/CogIconSolid.svelte';
    import MoonIconSolid from '$lib/components/icons/MoonIconSolid.svelte';
    import SelectorIconSolid from '$lib/components/icons/SelectorIconSolid.svelte';
    import SunIconSolid from '$lib/components/icons/SunIconSolid.svelte';
    import type { IFragments } from '$lib/interfaces/fragment';
    import { organization, rootFragments } from '$lib/stores';
    import { t } from '$lib/translations';
    import { scrollIntoView } from '$lib/utils/front/dom';
    import { onMount } from 'svelte';
    import SideMenuAddLink from './SideMenuAddLink.svelte';
    import SideMenuBody from './SideMenuBody.svelte';
    import SideMenuContainer from './SideMenuContainer.svelte';
    import SideMenuFooter from './SideMenuFooter.svelte';
    import SideMenuHeader from './SideMenuHeader.svelte';
    import SideMenuList from './SideMenuList.svelte';
    import SideMenuListContainer from './SideMenuListContainer.svelte';
    import SideMenuWorkspaces from './SideMenuWorkspaces.svelte';

    let toggled: boolean = false;
    let dark: boolean = false;

    onMount(() => {
        dark = $session.user.attributes.dark;
    });

    const updateDarkMode = async (value) => {
        await apiPatch('user/me', $session.token, { dark });
        $session.user.attributes.dark = dark;
    };

    const toggle = () => {
        toggled = !toggled;
        if (!!toggled) {
            scrollIntoView('orgs');
        }
    };

    const drop = (event) => {
        // @todo: handle
    };

    $: fragments = !!$rootFragments ? ($rootFragments as IFragments).filter((frag) => !frag.archived) : [];
    $: orgName = !!$organization && $organization.name ? $organization.name : $t('common.my-workspace');
</script>

<SideMenuContainer on:drop={drop}>
    <SideMenuHeader>
        <button
            on:click|preventDefault|stopPropagation={toggle}
            title={$t('common.toggle-workspaces')}
            class="group-hover:visible mr-1 text-zinc-600 dark:text-zinc-500 hover:dark:text-zinc-200 border-transparent rounded hover:dark:border-zinc-200"
        >
            <span class:text-pacific-500={toggled}>
                <SelectorIconSolid />
            </span>
        </button>

        <span class="text-zinc-500 dark:text-zinc-400 uppercase flex-grow truncate">{orgName}</span>
        <SideMenuAddLink route="/t/new/root" />
    </SideMenuHeader>
    <SideMenuBody>
        <SideMenuListContainer id="orgs">
            {#if toggled}
                <hr class="border-zinc-300 dark:border-zinc-700 my-2" />
                <SideMenuWorkspaces on:navigate={() => (toggled = false)} />
                <hr class="border-zinc-300 dark:border-zinc-700 my-2" />
            {/if}
        </SideMenuListContainer>

        <SideMenuList id={null} {fragments} />
    </SideMenuBody>
    <SideMenuFooter>
        <span class="flex-grow">
            <button
                class="text-zinc-700 hover:text-zinc-900 dark:text-zinc-500 hover:dark:text-zinc-100 flex items-center"
            >
                <CogIconSolid className="h-4 w-4 mr-1 " />{$t('common.settings')}
            </button>
        </span>
        <span class="flex-none flex items-center group">
            <SunIconSolid className="h-3 w-3 mr-1 text-zinc-500 dark:text-zinc-500" on:click={updateDarkMode} />
            <ToggleButton bind:value={dark} label="Dark mode" showlabel={false} on:change={updateDarkMode} />
            <MoonIconSolid className="h-3 w-3 ml-1 text-zinc-500 dark:text-zinc-500" on:click={updateDarkMode} />
        </span>
    </SideMenuFooter>
</SideMenuContainer>
