<script lang="ts">
    import { goto } from '$app/navigation';
    import { session } from '$app/stores';
    import { apiGet, apiPatch } from '$lib/api';
    import PlusSmIconSolid from '$lib/components/icons/PlusSmIconSolid.svelte';
    import { OrganizationType, type IOrganization } from '$lib/interfaces/organization';
    import { t } from '$lib/translations';
    import { createEventDispatcher, onMount } from 'svelte';
    import SideMenuButton from './SideMenuButton.svelte';
    import SideMenuLink from './SideMenuLink.svelte';
    import SideMenuRow from './SideMenuRow.svelte';

    const dispatch = createEventDispatcher();

    let workspaces: IOrganization[] = [];

    onMount(async () => {
        const response = await apiGet<IOrganization[]>(`organization`, $session.token);
        if (response.status === 200) {
            workspaces = response.data;
        }
    });

    const onclick = async (oid: number) => {
        await apiPatch('user/me', $session.token, { oid });
        $session.user.attributes.oid = oid;
        goto('/t');
        dispatch('navigate', { oid });
    };
</script>

{#each workspaces as workspace}
    <SideMenuRow marged>
        <SideMenuButton
            on:click={() => onclick(workspace.id)}
            text={workspace.type === OrganizationType.Public ? workspace.name : $t('common.my-workspace')}
        />
    </SideMenuRow>
{/each}

<SideMenuRow>
    <SideMenuLink text={$t('common.create-workspace')} href="/board">
        <PlusSmIconSolid />
    </SideMenuLink>
</SideMenuRow>
