<script lang="ts">
    import { page, session } from '$app/stores';
    import { apiGet } from '$lib/api';
    import CompletionIndicator from '$lib/components/common/CompletionIndicator.svelte';
    import { DragStateOrigin } from '$lib/interfaces/drag-state';
    import type { IFragment, IFragments } from '$lib/interfaces/fragment';
    import { rootFragments } from '$lib/stores/data-lists';
    import { appDragState, resetDragState } from '$lib/stores/drag-state';
    import { appMenuState } from '$lib/stores/menu-state';
    import { t } from '$lib/translations';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { markdown } from '$lib/utils/front/markdown';
    import { stringid } from '$lib/utils/sid';
    import { slugify } from '$lib/utils/utils';
    import { onMount } from 'svelte';
    import SideMenuAddLink from './SideMenuAddLink.svelte';
    import SideMenuFragmentExpandButton from './SideMenuFragmentExpandButton.svelte';
    import SideMenuList from './SideMenuList.svelte';
    import SideMenuRow from './SideMenuRow.svelte';

    export let fragment: IFragment;
    export let expanded: boolean = false;
    export let hovered: boolean = false;
    export let url: string | null = null;

    $: cid = stringid.from($page.params.slug);
    $: current = cid === fragment.id;
    $: published = fragment.public;
    $: highlighted = !!fragment.fragments.length;
    $: displayed = !!fragment.content ? fragment.content : $t('common.untitled-document');
    $: id = fragment.id;
    $: sid = stringid.encode(fragment.id);
    $: finalurl = !!url ? url : `/t/${slugify(displayed)}-${sid}`;
    $: addurl = `/t/new/${slugify(displayed)}-${sid}`;
    $: tasked = fragment.meta && fragment.meta.hasOwnProperty('completion') && fragment.meta.total > 0;

    let timeout: number;

    onMount(() => {
        expanded = !!$appMenuState[id] ? $appMenuState[id].opened : false;
    });

    const toggle = async () => {
        expanded = !expanded;
        if (expanded) {
            const response = await apiGet<IFragments>(`fragment/${fragment.id}/children`, $session.token);
            if (response.ok) {
                fragment.fragments = response.data;
            }
        }
        appMenuState.update((state) => {
            const newState = { ...state };
            newState[id] = { opened: expanded };
            return newState;
        });
    };

    const checkForOpening = () => {
        if (hovered) {
            toggle();
            // @ts-ignore
            timeout = setTimeout(checkForOpening, 2500);
        } else {
            clearTimeout(timeout);
        }
    };

    const dragstart = async (event: DragEvent) => {
        resetDragState();
        $appDragState.dragging = fragment;
    };

    const dragenter = async (event: DragEvent) => {
        // @ts-ignore
        timeout = setTimeout(checkForOpening, 1000);
        $appDragState.hovering = fragment;
        $appDragState.origin = DragStateOrigin.Menu;
        if ($appDragState.hovering !== $appDragState.dragging) {
            hovered = true;
        }
    };

    const dragleave = async (event: DragEvent) => {
        if ($appDragState.hovering === fragment) {
            resetDragState();
        }
        hovered = false;
        if (timeout) {
            clearTimeout(timeout);
        }
        timeout = null;
    };

    const drop = async (event: DragEvent) => {
        hovered = false;

        const dragging = $appDragState.dragging;
        const fragments = await $rootFragments;

        resetDragState();
        if (fragment.id === dragging.id) {
            return;
        }

        await fragmenter.movein(fragments, dragging, fragment);
        rootFragments.set([...fragments]);
    };
</script>

<SideMenuRow {hovered}>
    <div class="flex flex-row items-center group">
        <SideMenuFragmentExpandButton bind:expanded {highlighted} on:toggle={toggle} />
        <a
            href={finalurl}
            class="flex-grow flex rounded-sm truncate"
            draggable={true}
            on:dragover|preventDefault
            on:dragstart={dragstart}
            on:dragenter={dragenter}
            on:dragleave={dragleave}
            on:drop|preventDefault={(event) => drop(event)}
            ><span
                class="text-zinc-600 dark:text-zinc-400 flex flex-grow truncate w-full items-center"
                class:font-bold={current}
                class:dark:text-zinc-200={current && !published}
                class:text-pacific-600={published}
                class:dark:text-pacific-400={published}
            >
                <span class="flex items-center grow shrink truncate">{@html markdown.inline(displayed.trim())}</span>

                {#if tasked}<CompletionIndicator completion={fragment.meta.completion} />{/if}
            </span></a
        >

        <SideMenuAddLink route={addurl} on:click={() => (expanded = true)} />
    </div>
    {#if expanded && fragment.fragments}
        <SideMenuList {id} fragments={fragment.fragments} />
    {/if}
</SideMenuRow>
