<script lang="ts">
    import MenuIconSolid from '$lib/components/icons/MenuIconSolid.svelte';
    import { sidebarState } from '$lib/stores/sidebar-state';

    import { t } from '$lib/translations';

    const toggleMenu = () => {
        $sidebarState.opened = !$sidebarState.opened;
    };
</script>

<button
    on:click={toggleMenu}
    type="button"
    id="sidebar-toggler"
    aria-haspopup="true"
    aria-controls="sidebar"
    title={$t('common.toggle-sidebar')}
    class="mr-4 inline-block md:hidden md:mr-0 text-sm px-1 py-1 leading-none border rounded dark:text-white dark:border-zinc-600 dark:hover:border-zinc-100"
>
    <MenuIconSolid />
</button>
