<script lang="ts">
    import ChevronDownIconSolid from '$lib/components/icons/ChevronDownIconSolid.svelte';
    import ChevronRightIconSolid from '$lib/components/icons/ChevronRightIconSolid.svelte';
    import { createEventDispatcher } from 'svelte';

    export let expanded: boolean = false;
    export let highlighted: boolean = false;

    const dispatch = createEventDispatcher();

    const toggle = async () => {
        dispatch('toggle');
    };
</script>

<button
    on:click={toggle}
    class="text-zinc-600 dark:text-zinc-500 dark:group-hover:text-zinc-300 border-transparent mr-1"
    class:text-zinc-400={highlighted}
    class:dark:text-zinc-300={highlighted}
>
    {#if expanded}
        <ChevronDownIconSolid />
    {:else}
        <ChevronRightIconSolid />
    {/if}
</button>
