<script context="module" lang="ts">
    /** @type {import('@sveltejs/kit').ErrorLoad} */
    export function load({ error, status }) {
        return {
            props: {
                status,
                title: `${status}: ${error.message}`
            }
        };
    }
</script>

<script lang="ts">
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import { t } from '$lib/translations';

    export let title;
    export let status;
</script>

<AppTitle />

<main class="flex-1 pb-10 px-8 overflow-x-hidden">
    {#if status === 404}
        <p class="dark: text-zinc-500">{@html $t('common.http_status_404_haiku')}</p>
        <p class="dark: text-zinc-100">{@html $t('common.http_status_404')}</p>
    {:else}
        <h1 class="mt-1">{title}</h1>
    {/if}
</main>
