<script context="module" lang="ts">
    import { apiGet } from '$lib/api';

    import SideMenu from '$lib/components/app/menu/SideMenu.svelte';
    import { authGuard } from '$lib/guards';
    import type { IOrganization } from '$lib/interfaces/organization';
    import { organization, rootFragments } from '$lib/stores';
    import type { LoadInput, LoadOutput } from '@sveltejs/kit/types/internal';

    export async function load({ url, fetch, session, params, stuff }: LoadInput): Promise<LoadOutput> {
        // @ts-ignore
        const response = await authGuard({ url, fetch, session, params, stuff });

        if (response.status) {
            return response;
        }

        const org = await apiGet<IOrganization>(`organization/${session.user.attributes.oid}`, session.token);
        if (org.status !== 200) {
            return {
                status: 302,
                redirect: '/auth/signin?redirect=' + encodeURIComponent(url.pathname)
            };
        }
        organization.set(org.data);
        rootFragments.set(org.data.fragments);

        return response;
    }
</script>

<script lang="ts">
    import AppLayout from '$lib/components/common/AppLayout.svelte';
    import DocLayout from '$lib/components/common/DocLayout.svelte';
    import SidebarBackdrop from '$lib/components/common/SidebarBackdrop.svelte';
    import SidebarLayout from '$lib/components/common/SidebarLayout.svelte';
</script>

<AppLayout>
    <SidebarLayout>
        <SideMenu />
    </SidebarLayout>

    <SidebarBackdrop />

    <DocLayout>
        <slot />
    </DocLayout>
</AppLayout>
