<script lang="ts">
    import { goto } from '$app/navigation';

    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import { rootFragments } from '$lib/stores';

    import { t } from '$lib/translations';
    import { stringid } from '$lib/utils/sid';
    import { slugify } from '$lib/utils/utils';
    import { onMount } from 'svelte';

    onMount(() => {
        if ($rootFragments.length === 0) {
            goto(`/t/new/root`);
        } else {
            const fragment = $rootFragments[0];
            goto(`/t/${slugify(fragment.content)}-${stringid.encode(fragment.id)}`);
        }
    });
</script>

<AppTitle title={$t('common.loading')} />
