<script lang="ts">
    import { t } from '$lib/translations';

    export let message = '';
    export let icon: any | null = null;
</script>

<div class="mb-4 flex lg:inline-flex" role="alert">
    {#if icon}
        <svelte:component this={icon} />
    {/if}
    <span class=" text-left flex-auto text-zinc-700 dark:text-zinc-400">{$t(message)}</span>
</div>
