<script lang="ts">
    import { t } from '$lib/translations';
    import type { SvelteComponent } from 'svelte';
    import ExclamationCircleIconSolid from '../icons/ExclamationCircleIconSolid.svelte';

    export let message = '';
    export let icon: typeof SvelteComponent | null = ExclamationCircleIconSolid;
</script>

<div class="p-1 bg-cheery-500 items-center text-orange-100 leading-none rounded-full flex lg:inline-flex" role="alert">
    {#if icon}
        <span>
            <svelte:component this={icon} />
        </span>
    {/if}
    <span class="font-semibold ml-2 mr-2 text-left flex-auto">{$t(message)}</span>
</div>
