<script lang="ts">
    import { t } from '$lib/translations';

    export let label = '';
    export let placeholder = '';
    export let type = 'text';
    export let value: string | number = '';
    export let name = '';
    export let autocomplete = '';
    export let required: boolean = false;
    export let disabled: boolean = false;
    export let error = '';
    export let sid: string = '';

    $: code = type === 'code';
    $: trueType = code ? 'text' : type;
    $: id = sid || name;

    const handleInput = (e) => {
        value = type.match(/^(number|range)$/) ? +e.target.value : e.target.value;
    };
</script>

<div class="flex mb-2 items-center">
    <label class="flex-none text-zinc-700 dark:text-white" for={name}>
        {$t(label)}{#if required}&nbsp;*{/if}
    </label>
    {#if error}
        <span class="flex-auto text-right text-cheery-500 dark:text-cheery-300" for={name}>
            {$t(error)}
        </span>
    {/if}
</div>

<input
    type={trueType}
    {value}
    {id}
    {name}
    {required}
    {disabled}
    on:input={handleInput}
    {autocomplete}
    placeholder={placeholder ? $t(placeholder) : ''}
    class="shadow appearance-none border rounded w-full py-2 px-3 text-zinc-700 leading-tight focus:outline-none focus:shadow-outline disabled:bg-zinc-200 disabled:text-zinc-600"
    class:text-center={code}
    class:text-2xl={code}
    class:tracking-wide={code}
/>
