<script lang="ts">
    import { createEventDispatcher } from 'svelte';
    import { t } from '$lib/translations';

    const dispatch = createEventDispatcher();

    export let label = '';
    export let disabled: boolean = false;
    export let icon: any | null = null;

    const handleClick = (e) => {
        dispatch('click');
    };
</script>

<button
    type="submit"
    {disabled}
    on:click={handleClick}
    class="inline-flex w-full justify-center items-center bg-pacific-400 hover:bg-pacific-600 disabled:bg-zinc-500 text-white disabled:text-zinc-300 font-bold disabled:cursor-not-allowed py-2 rounded focus:outline-none focus:shadow-outline"
>
    {#if icon}
        <span class="mr-2">
            <svelte:component this={icon} />
        </span>
    {/if}
    <span>{$t(label)}</span>
</button>
