<script lang="ts">
    import { t } from '$lib/translations';
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();
    const doPrevent = (event: Event) => {
        if (prevent) {
            event.preventDefault();
        }
        if (stopPropagation) {
            event.stopPropagation();
        }
    };
    const doDispatch = (event: Event) => {
        doPrevent(event);
        value = !value;
        dispatch('change', value);
    };

    export let name: string = 'toggle';
    export let value: boolean = true;
    export let prevent: boolean = true;
    export let showlabel: boolean = true;
    export let stopPropagation: boolean = true;
    export let label: string = 'Toggle';
</script>

<label for={name} class="flex items-center cursor-pointer" on:click={doDispatch}>
    <!-- toggle -->
    <div class="relative">
        <input bind:checked={value} type="checkbox" id={name} {name} class="sr-only" />
        <div class="block bg-zinc-600 w-6 h-4 rounded-full" />
        <div class="dot absolute left-1 top-1 bg-white w-2 h-2 rounded-full transition" />
    </div>

    {#if label && showlabel}
        <div class="ml-2 text-zinc-700 dark:text-zinc-100 font-medium">
            {$t(label)}
        </div>
    {/if}
</label>

<style>
    input:checked ~ .dot {
        transform: translateX(100%);
        background-color: #00b4ff;
    }
</style>
