<script lang="ts">
    import { session } from '$app/stores';

    import { t } from '$lib/translations';
    import PublicHeaderNavLink from './PublicHeaderNavLink.svelte';

    const switchMobileNav = () => {
        document.getElementById('top-public-nav').classList.toggle('hidden');
    };
    $: loggedin = !!$session.user;
</script>

<nav class="sticky flex items-center justify-between flex-wrap bg-zinc-900 p-4 font-source-code">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img class="w-6 h-6 rounded-full shadow-md mr-4" src="/logo-white.png" alt="taasked" />
        <span class="tracking-tight">{$t('common.brand-name')}</span>
    </div>
    <div class="block lg:hidden">
        <button
            on:click={switchMobileNav}
            class="flex items-center px-3 py-2 border rounded text-pacific-200 border-pacific-400 hover:text-white hover:border-white"
        >
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="top-public-nav">
        <div class="text-sm lg:flex-grow" />

        <div>
            <PublicHeaderNavLink label="home.menu-features" url="#features" />
            <PublicHeaderNavLink label="home.menu-resources" url="#resources" />
            <PublicHeaderNavLink label="home.menu-pricing" url="#pricing" />

            {#if loggedin}
                <a
                    href="/t/"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:bg-pacific mt-4 lg:mt-0"
                    >{$t('common.editor')}</a
                >
            {:else}
                <a
                    href="/auth/signin"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:bg-pacific mt-4 lg:mt-0"
                    >{$t('common.signin')}</a
                >
            {/if}
        </div>
    </div>
</nav>
