<script lang="ts">
    import { t } from '$lib/translations';

    export let url: string = '/';
    export let label: string = 'Label';
</script>

<a href={url} class="block mt-4 mr-5 lg:inline-block lg:mt-0 text-pacific-200 hover:text-white">
    {$t(label)}
</a>
