<script lang="ts">
    import GitIconSolid from '$lib/components/icons/GitIconSolid.svelte';
    import { t } from '$lib/translations';

    export let attributes: any = {};
    export let content: string;
</script>

<div class="font-source-code text-zinc-500 dark:text-zinc-400 flex flex-row mt-2 pb-3">
    <GitIconSolid />
    &nbsp;
    <span class="text-xs">
        <a href={attributes.url} title={$t('common.view-commit')}>{attributes.sha.slice(0, 7)}</a>
        &nbsp;{content}
    </span>
</div>
