<script lang="ts">
    import type { IFragment } from '$lib/interfaces/fragment';
    import { t } from '$lib/translations';
    import { stringid } from '$lib/utils/sid';
    import { slugify } from '$lib/utils/utils';
    import { createEventDispatcher } from 'svelte';
    import AppMenuToggler from '../menu/SideMenuToggler.svelte';
    import FragmentTitle from './FragmentTitle.svelte';

    export let fragment: IFragment;
    $: href = `/${slugify(fragment.content)}-${stringid.encode(fragment.id)}`;

    // const dispatch = createEventDispatcher();

    // const copy = () => {
    //     dispatch('requireCopy');
    // };

    // const toggleArchive = () => {
    //     dispatch('toggleArchive');
    // };

    // const togglePublic = () => {
    //     dispatch('togglePublic');
    // };
</script>

<header
    class="sticky top-0 z-10 flex flex-row items-center h-12 bg-zinc-50 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-300 py-2 transition-none"
>
    <AppMenuToggler />

    {#if fragment}
        <FragmentTitle
            bind:attributes={fragment.attributes}
            bind:id={fragment.id}
            bind:content={fragment.content}
            bind:archived={fragment.archived}
            bind:ispublic={fragment.public}
            on:keyup
            on:focusdown
        />
        {#if fragment.public}
            <a {href}>{$t('common.view-public')}</a>
        {/if}
        <!--
        <button on:click={copy} class="mr-2 p-1">
            <KeyboardShortcut
                on:shortcut={copy}
                action={KeyBindingActions.TaskListClipboardCopy}
                category={KeyBindingCategories.FragmentContainer}
            />Copy
        </button>
        <button on:click={togglePublic} class="mr-2 p-1">
            <KeyboardShortcut
                on:shortcut={togglePublic}
                action={KeyBindingActions.TogglePublicFlag}
                category={KeyBindingCategories.FragmentContainer}
            />{#if fragment.archived}{$t('common.unpublish')}{:else}{$t('common.publish')}{/if}
        </button>
        <button on:click={toggleArchive} class="mr-2 p-1">
            <KeyboardShortcut
                on:shortcut={toggleArchive}
                action={KeyBindingActions.ToggleArchiveFlag}
                category={KeyBindingCategories.FragmentContainer}
            />{#if fragment.archived}{$t('common.unarchive')}{:else}{$t('common.archive')}{/if}
        </button>
        -->
    {/if}
</header>
