<script lang="ts">
    import type { ITaskFragmentAttributes } from '$lib/interfaces/fragment';
    import { FragmentType } from '$lib/interfaces/fragment';
    import { focusState } from '$lib/stores/app-state';
    import { createEventDispatcher } from 'svelte';
    import CommitFragmentContent from './CommitFragmentContent.svelte';
    import Editor from './Editor.svelte';
    import FragmentContentContainer from './FragmentContentContainer.svelte';
    import FragmentDot from './FragmentDot.svelte';
    import FragmentKey from './FragmentKey.svelte';
    import FragmentTaskCheckbox from './FragmentTaskCheckbox.svelte';
    import ItemPrefix from './ItemPrefix.svelte';
    import ReferenceFragmentContent from './ReferenceFragmentContent.svelte';

    let dispatch = createEventDispatcher();

    export let id = 0;
    export let interactive: boolean = false;
    export let fixed: boolean = false;
    export let content = '';
    export let key: string | null = null;
    export let autokey: string = '';
    export let type: FragmentType = FragmentType.Basic;
    export let attributes: ITaskFragmentAttributes | any;

    $: focused = $focusState === id;
    $: urgent = type === FragmentType.Task && attributes.urgent;
    $: wontfix = type === FragmentType.Task && attributes.wontfix;
    $: done = type === FragmentType.Task && attributes.done;

    const addAttr = (key: string, defaultValue: any) => {
        attributes[key] = defaultValue;
        attributes = attributes;
    };

    const toggleWontfix = async (event: CustomEvent<{ wontfix: boolean }>) => {
        const wontfix = event.detail.wontfix;
        if (attributes.wontfix === wontfix) {
            return;
        }

        addAttr('wontfix', wontfix);
        dispatch('change', { id, attributes: { attributes: attributes || {} } });

        if (wontfix) {
            dispatch('done', { id });
        } else {
            dispatch('undone', { id });
        }
    };

    const typed = async (event: CustomEvent<{ type: FragmentType }>) => {
        const newType = event.detail.type;

        if (type === newType) {
            return;
        }

        switch (newType) {
            case FragmentType.Task:
                addAttr('done', false);
                addAttr('urgent', false);
                break;
        }
        type = newType;

        dispatch('change', { id, attributes: { type: newType, attributes: attributes || {} } });
    };

    const startDrag = () => {
        console.log('will req drag', id);
        dispatch('startdrag', { id });
    };
</script>

<FragmentContentContainer>
    <!-- on:touchstart={startDrag} on:mousedown={startDrag} -->
    <FragmentDot {focused} {urgent} {wontfix} />

    {#if type === FragmentType.Commit}
        <CommitFragmentContent {content} {attributes} />
    {:else if type === FragmentType.Reference}
        <ReferenceFragmentContent {content} {attributes} />
    {:else if type === FragmentType.Task}
        <FragmentTaskCheckbox
            {id}
            bind:disabled={attributes.wontfix}
            bind:done={attributes.done}
            bind:urgent={attributes.urgent}
            on:done
            on:undone
        />
        <FragmentKey {key} {autokey} {done} {wontfix} />
    {:else if type === FragmentType.Item}
        <ItemPrefix />
    {/if}

    {#if type !== FragmentType.Commit && type !== FragmentType.Reference}
        <Editor
            {id}
            {type}
            bind:interactive
            bind:fixed
            bind:content
            bind:attributes
            on:enter
            on:keyup
            on:blur
            on:focus
            on:hover
            on:paste
            on:typed={typed}
            on:wontfix={toggleWontfix}
        />
    {/if}
</FragmentContentContainer>
