<script lang="ts">
    import { fragmentFactory } from '$lib/interfaces/factories/fragment';
    import { FragmentType, type IFragment } from '$lib/interfaces/fragment';
    import { focusState } from '$lib/stores/app-state';
    import { rootFragments } from '$lib/stores/data-lists';
    import { anyKeyBindings, getBindingKey, KeyBindingActions } from '$lib/stores/key-bindings';
    import { organization } from '$lib/stores/organization';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { copy } from '$lib/utils/front/clipboard';
    import { getSelectionText } from '$lib/utils/front/content-editable';
    import { markdown } from '$lib/utils/front/markdown';
    import { onMount } from 'svelte';
    import FragmentHeader from './FragmentHeader.svelte';
    import FragmentList from './FragmentList.svelte';

    export let fragment: IFragment;

    $: verticals = (fragment.verticals || []).slice(0, 8);
    $: org_key = !!$organization ? $organization.name.slice(3).toUpperCase() : null;
    $: autokey = !!fragment.key ? fragmenter.key_of(fragment) : org_key;

    onMount(() => {
        if (!!fragment && !!fragment.fragments && !fragment.fragments.length) {
            unshiftFragment();
        }
    });

    const edit = async (data: any) => {
        fragment = await fragmenter.updateHead(fragment, data);
    };

    const toggleArchive = () => {
        if (fragment.archived) {
            edit({ archived: false });
        } else {
            edit({ archived: true });
        }
    };

    const togglePublic = () => {
        if (fragment.public) {
            edit({ public: false });
        } else {
            edit({ public: true });
        }
    };

    const unshiftFragment = async () => {
        const newFragment = fragmentFactory(fragment.orgId, fragment.id, fragment.id);
        fragment = fragmenter.unshift(fragment, newFragment);
        $focusState = newFragment.id;
    };

    const performAction = (event: KeyboardEvent, action: KeyBindingActions): boolean => {
        switch (action) {
            case KeyBindingActions.TaskListClipboardCopy:
                if (getSelectionText() !== '') {
                    return false;
                }
                requireCopy();
                return true;
            case KeyBindingActions.ToggleArchiveFlag:
                toggleArchive();
                return true;
            case KeyBindingActions.TogglePublicFlag:
                togglePublic();
                return true;
            case KeyBindingActions.Return:
                unshiftFragment();
                return true;
        }
        return false;
    };

    const onFocusDown = () => {
        if (!!fragment.fragments.length) {
            $focusState = fragment.fragments[0].id;
        }
    };

    const onKeyUp = (e: CustomEvent) => {
        const event = e.detail.event;
        const key = getBindingKey(event);
        const binding = $anyKeyBindings[key];

        if (binding) {
            performAction(event, binding.action);
            event.stopPropagation();
        }
    };

    const requireCopy = () => {
        copy(markdown.fragmentRootToMarkdown(fragment));
        alert('copied');
    };

    const updateCompletions = () => {
        const tasks = fragmenter.getAllByType(fragment.fragments, FragmentType.Task);
        const meta = {
            total: tasks.length,
            completion: Math.round(
                (tasks.filter((f) => f.attributes.done || f.attributes.wontfix).length * 100) / tasks.length
            )
        };

        rootFragments.update((fragments) => fragmenter.patched(fragments, fragment, { meta }) || fragments);
    };

    const onDone = () => {
        updateCompletions();
    };

    const onUndone = () => {
        updateCompletions();
    };
</script>

{#if fragment}
    <FragmentHeader
        {fragment}
        on:requireCopy={requireCopy}
        on:toggleArchive={toggleArchive}
        on:togglePublic={togglePublic}
        on:keyup={onKeyUp}
        on:focusdown={onFocusDown}
    />

    <div class="dark:text-zinc-500 text-zinc-400 mb-6">
        {#each verticals as vertical}&nbsp;#{vertical.keyword}&nbsp;{/each}
    </div>

    <FragmentList
        bind:id={fragment.id}
        bind:orgId={fragment.orgId}
        bind:parentId={fragment.parentId}
        bind:rootId={fragment.id}
        bind:fragments={fragment.fragments}
        bind:attributes={fragment.attributes}
        bind:type={fragment.type}
        bind:autokey
        on:startdrag
        on:done={onDone}
        on:undone={onUndone}
    />
{/if}
