<script lang="ts">
    export let urgent: boolean = false;
    export let wontfix: boolean = false;
    export let focused: boolean = false;
</script>

<span class="h-4 w-4 mt-1 flex items-center cursor-move">
    {#if urgent && !wontfix}
        <div class="mr-2 top-2 bg-clementine-600 dark:bg-clementine-500 w-2 h-2 rounded-full transition" />
    {:else if focused || wontfix}
        <div class="mr-2 top-2 w-2 h-2 bg-zinc-500 dark:bg-zinc-400 rounded-full" />
    {:else}
        <div class="mr-2 top-2 w-2 h-2 group-hover:bg-zinc-400 dark:group-hover:bg-zinc-700 rounded-full transition" />
    {/if}
</span>
