<script lang="ts">
    import CheckIconOutline from '$lib/components/icons/CheckIconOutline.svelte';
    import CheckIconSolid from '$lib/components/icons/CheckIconSolid.svelte';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    export let disabled: boolean = false;
    export let urgent: boolean = false;
    export let done: boolean = false;
    export let id: number | undefined = undefined;
    $: readonly = typeof id === 'undefined';

    const onToggleCheckbox = (event) => {
        fragmenter.ack(id, { attributes: { done, urgent } });
        if (!!done) {
            dispatch('done', { id });
        } else {
            dispatch('undone', { id });
        }
    };

    $: sid = `${id}`;
</script>

<span class="relative h-4 w-4 my-1 mr-2">
    {#if done}<CheckIconSolid
            className="absolute pointer-events-none w-3 h-3 mt-0.5 ml-0.5 text-pacific-400 z-[1]"
        />{/if}
    <input
        name={sid}
        type="checkbox"
        bind:checked={done}
        on:change={onToggleCheckbox}
        disabled={disabled || readonly}
        class="absolute form-check-input appearance-none h-4 w-4 border border-zinc-400 rounded-sm dark:checked:bg-pacific-800 checked:border-pacific-500 transition duration-200 focus:outline-none align-top bg-no-repeat bg-center bg-contain float-left"
        class:cursor-pointer={!disabled}
    />
</span>
