<script lang="ts">
    import { FragmentType, type IFragments, type ITaskFragmentAttributes } from '$lib/interfaces/fragment';
    import type { KeyboardSvelteEvent } from '$lib/interfaces/keyboard-svelte-event';
    import { getBindingKey, KeyBindingActions, taskKeyBindings } from '$lib/stores/key-bindings';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { afterUpdate, createEventDispatcher, onMount } from 'svelte';
    import FragmentContent from './FragmentContent.svelte';
    import FragmentList from './FragmentList.svelte';

    const dispatch = createEventDispatcher();

    export let parentId: number | null = null;
    export let level: number = 0;
    export let id: number;
    export let rootId: number;
    export let afterId: number;
    export let orgId: number;
    export let type: FragmentType;
    export let key: string | null = null;
    export let autokey: string = '';
    export let attributes: ITaskFragmentAttributes | any;
    export let content: string;
    export let fragments: IFragments;
    export let interactive: boolean = false;
    export let fixed: boolean = false;

    $: computed_key = !!key ? fragmenter.key_of(key) : autokey;

    let initialContent: string;
    let initialId: number;

    onMount(() => {
        initialContent = content;
        initialId = id;
    });

    afterUpdate(() => {
        if (initialId !== id) {
            initialId = id;
            initialContent = content;
        }
    });

    const onBlur = async () => {
        if (initialContent !== content) {
            dispatch('change', { id, parentId, attributes: { content } });
            initialContent = content;
        }
    };

    const toggleDone = async () => {
        if (type === FragmentType.Task) {
            attributes.done = !attributes.done;
            dispatch('change', { id, parentId, attributes: { attributes } });
        }
    };

    const toggleUrgent = async () => {
        if (type === FragmentType.Task) {
            attributes.urgent = !attributes.urgent;
            dispatch('change', { id, parentId, attributes: { attributes } });
        }
    };

    const onKeyUp = async (event: KeyboardSvelteEvent) => {
        const key = getBindingKey(event.detail.event);
        const binding = $taskKeyBindings[key];
        const id = event.detail.id;

        if (!!binding) {
            switch (binding.action) {
                case KeyBindingActions.ToggleTaskDoneFlag:
                    return toggleDone();
                case KeyBindingActions.ToggleTaskUrgentFlag:
                    return toggleUrgent();
            }
        }

        dispatch('keyup', event.detail);
    };
</script>

<div class:interactive class:ml-6={rootId !== parentId} class="relative leading-4" id="frag-container-{id}">
    <FragmentContent
        {id}
        bind:type
        bind:key
        bind:autokey
        bind:interactive
        bind:content
        bind:fixed
        bind:attributes
        on:enter
        on:keyup={onKeyUp}
        on:hover
        on:focus
        on:change
        on:paste
        on:done
        on:undone
        on:startdrag={(ev) => dispatch('startdrag', ev.detail)}
        on:blur={onBlur}
    />

    <!-- <span class="absolute right-0 top-0 text-zinc-400 dark:text-zinc-600 z-10">#{id}/{afterId}/{rootId}</span> -->

    <FragmentList
        {id}
        {orgId}
        {rootId}
        {fragments}
        {parentId}
        {attributes}
        {type}
        autokey={computed_key}
        level={level + 1}
        on:unchild
        on:done
        on:undone
        on:focusup
        on:focusdown
        on:startdrag={(ev) => dispatch('startdrag', ev.detail)}
    />
</div>
