<script lang="ts">
    import { afterNavigate, goto } from '$app/navigation';
    import { session } from '$app/stores';
    import { apiPut } from '$lib/api';
    import CompletionIndicator from '$lib/components/common/CompletionIndicator.svelte';
    import type { IFragment, ITaskFragmentAttributes } from '$lib/interfaces/fragment';
    import { rootFragments } from '$lib/stores/data-lists';
    import { anyKeyBindings, getBindingKey, KeyBindingActions } from '$lib/stores/key-bindings';
    import { t } from '$lib/translations';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { setCaretAtEndOf } from '$lib/utils/front/content-editable';
    import { stringid } from '$lib/utils/sid';
    import { slugify } from '$lib/utils/utils';
    import { createEventDispatcher, onMount } from 'svelte';
    import Editor from './Editor.svelte';

    export let parentId: number | null = 0;
    export let id: number = 0;
    export let content = '';
    export let ispublic: boolean = false;
    export let archived: boolean = false;
    export let autofocus: boolean = false;
    export let creating: boolean = false;
    export let attributes: ITaskFragmentAttributes | any;

    $: menuitem = fragmenter.finds($rootFragments, id);
    $: tasked = menuitem && menuitem.meta && menuitem.meta.hasOwnProperty('completion') && menuitem.meta.total > 0;
    $: completion = menuitem ? menuitem.meta.completion : null;

    let initialContent;

    const dispatch = createEventDispatcher();

    onMount(() => {
        initialContent = content;
    });
    afterNavigate(() => {
        initialContent = content;
    });

    const reset = async () => {
        document.getElementById('main-frag-0').innerText = content;
    };
    const checkForSave = async (): Promise<boolean> => {
        if (creating) {
            console.warn('-<');
            return true;
        }
        if (initialContent !== content) {
            if (!id) {
                create();
            } else {
                update();
            }
            return true;
        }

        return false;
    };

    const update = async () => {
        const response = await apiPut<IFragment>(`fragment/${id}`, $session.token, { content });
        if (response.ok) {
            rootFragments.update((fragments) => fragmenter.notify(fragments, response.data) || fragments);
        }
    };

    const create = async () => {
        creating = true;
        const fragment = {
            content,
            parentId,
            orgId: $session.user.attributes.oid
        } as IFragment;

        await fragmenter.create($rootFragments, fragment);

        if (fragment.id > 0) {
            rootFragments.update((rootFragments) => {
                const index = rootFragments.findIndex((l) => l.id === fragment.id);
                if (index > -1) {
                    rootFragments[index] = fragment;
                }
                return rootFragments;
            });

            goto(`/t/${slugify(fragment.content)}-${stringid.encode(fragment.id)}`);
        }
    };

    const onBlur = (e: CustomEvent) => {
        checkForSave();
    };

    const performAction = async (event: KeyboardEvent, action: KeyBindingActions) => {
        switch (action) {
            case KeyBindingActions.Reset:
                reset();
                setCaretAtEndOf('main-frag-0');
                return;
            case KeyBindingActions.Return:
                const saving = await checkForSave();
                if (!saving) {
                    dispatch('keyup', { event });
                }
                return true;
            case KeyBindingActions.FocusDown:
                dispatch('focusdown');
                return true;
        }
    };

    const onKeyUp = (e: CustomEvent) => {
        const event = e.detail.event;
        const binding = $anyKeyBindings[getBindingKey(event)];

        if (binding) {
            performAction(event, binding.action);
            event.stopPropagation();
        }
    };
</script>

<h1 class="flex items-center font-bold">
    <span class="flex-none">#</span>&nbsp;
    <Editor
        {id}
        bind:content
        bind:attributes
        on:enter={onKeyUp}
        on:keyup={onKeyUp}
        on:blur={onBlur}
        on:focus
        on:hover
        fullsized={false}
        interactive={autofocus}
        {autofocus}
    />
    {#if tasked}<CompletionIndicator {completion} />{/if}
    {#if archived}
        <span class="dark:text-zinc-400 ml-2">
            {$t('common.archived')}
        </span>
    {/if}
    {#if ispublic}
        <span class="text-pacific-500 ml-2">
            {$t('common.public')}
        </span>
    {/if}
</h1>
