<script lang="ts">
    import type { IFragment } from '$lib/interfaces/fragment';
    import ReadOnlyFragmentHeader from './ReadOnlyFragmentHeader.svelte';
    import ReadOnlyFragmentList from './ReadOnlyFragmentList.svelte';

    export let fragment: IFragment;
</script>

{#if fragment}
    <ReadOnlyFragmentHeader {fragment} />

    <ReadOnlyFragmentList fragments={fragment.fragments} />
{/if}
