<script lang="ts">
    import { FragmentType, type IFragments, type ITaskFragmentAttributes } from '$lib/interfaces/fragment';
    import { markdown } from '$lib/utils/front/markdown';
    import FragmentContentContainer from './FragmentContentContainer.svelte';
    import FragmentTaskCheckbox from './FragmentTaskCheckbox.svelte';
    import ItemPrefix from './ItemPrefix.svelte';
    import ReadOnlyFragmentList from './ReadOnlyFragmentList.svelte';

    export let parentId: number | null = null;
    export let id: number;
    export let rootId: number;
    export let afterId: number;
    export let orgId: number;
    export let type: FragmentType;
    export let attributes: ITaskFragmentAttributes | any;
    export let content: string;
    export let fragments: IFragments;
    export let interactive: boolean = false;
</script>

<div class:interactive class:ml-8={rootId !== parentId} class="relative min-h-10 leading-4" id="frag-container-{id}">
    <FragmentContentContainer>
        {#if type === FragmentType.Task}
            <FragmentTaskCheckbox done={attributes.done} urgent={attributes.urgent} />
        {:else if type === FragmentType.Item}
            <ItemPrefix />
        {/if}

        <div class="marked w-full min-h-[1.5em] pb-2">{@html markdown.parse(content.trim())}</div>
    </FragmentContentContainer>

    <ReadOnlyFragmentList {fragments} />
</div>
