<script lang="ts">
    import type { IFragment } from '$lib/interfaces/fragment';
    import { markdown } from '$lib/utils/front/markdown';
    import { stringid } from '$lib/utils/sid';
    import { slugify } from '$lib/utils/utils';
    import AppMenuToggler from '../menu/SideMenuToggler.svelte';

    export let fragment: IFragment;
    $: href = `/${slugify(fragment.content)}-${stringid.encode(fragment.id)}`;
</script>

<header
    class="flex items-center h-10 mb-4 bg-zinc-50 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-300 py-2 sticky top-0 transition-none"
>
    <AppMenuToggler />

    <h1 class="font-bold"># {@html markdown.inline(fragment.content)}</h1>
</header>
