<script lang="ts">
    import DocumentTextIconSolid from '$lib/components/icons/DocumentTextIconSolid.svelte';
    import { t } from '$lib/translations';
    import { stringid } from '$lib/utils/sid';

    export let attributes: any = {};
    export let content: string;
    $: url = `/t/${content}-${stringid.encode(attributes.ref)}`;
</script>

<div class="font-source-code text-zinc-500 dark:text-zinc-400 flex flex-row ml-8 mt-2 pb-3">
    <DocumentTextIconSolid />
    &nbsp;
    <a class="hover:underline" href={url} title={content}>{url}</a>
</div>
