<script context="module" lang="ts">
    /** @type {import('@sveltejs/kit').ErrorLoad} */
    export const load = ({ error, status }) => {
        return {
            props: {
                status
            }
        };
    };
</script>

<script lang="ts">
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import PublicHeaderNav from '$lib/components/common/PublicHeaderNav/PublicHeaderNav.svelte';
    import Illustration404 from '$lib/components/illustrations/Illustration404.svelte';
    import { t } from '$lib/translations';

    export let status;
    $: title = $t(`common.error-${status}`);
    $: haiku = $t(`common.error-${status}-haiku`);
    $: has_haiku = haiku !== `common.error-${status}-haiku`;
</script>

<AppTitle />

<PublicHeaderNav />
<div class="flex items-center dark:bg-zinc-700 dark:text-zinc-100 justify-center min-h-screen bg-gradient-to-r">
    <div class="w-full max-w-xl font-source-code flex-col justify-center">
        <h1>{title}</h1>
        <Illustration404 />
        {#if has_haiku}
            <p class="mt-8">{@html haiku}</p>
        {/if}
    </div>
</div>
