<script context="module" lang="ts">
    import { loadTranslations, locale } from '$lib/translations';
    import '../styles/tailwind-output.css';

    /** @type {import('@sveltejs/kit').Load} */
    export const load = async ({ url }) => {
        const { pathname } = url;

        const defaultLocale = 'en';

        const initLocale = locale.get() || defaultLocale; // set default if no locale already set

        await loadTranslations(initLocale, pathname);

        return {};
    };
</script>

<script lang="ts">
    import { session } from '$app/stores';
    import { afterUpdate } from 'svelte';

    afterUpdate(() => {
        if (typeof document !== 'undefined') {
            document.body.style.background = dark ? 'black' : 'white';
        }
    });
    $: dark = $session.user && $session.user.attributes ? $session.user.attributes.dark : false;
</script>

<div id="root-element" class="relative min-h-screen text-sm font-source-code" class:dark>
    <slot />
</div>
