<script context="module" lang="ts">
    export const hydrate = false;
    export const prerender = true;
</script>

<script lang="ts">
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import PublicHeaderNav from '$lib/components/common/PublicHeaderNav/PublicHeaderNav.svelte';
    import Illustration404 from '$lib/components/illustrations/Illustration404.svelte';
</script>

<AppTitle />

<PublicHeaderNav />
<div
    class="flex items-center dark:bg-zinc-900 justify-center min-h-screen bg-gradient-to-tl from-green-600 to-pacific-500"
>
    <div class="w-full max-w-xl font-source-code">
        <h1>Welcome to taasked</h1>
        <p>Low friction todo lists</p>

        <Illustration404 />
    </div>
</div>
