<script lang="ts">
    import { afterNavigate, beforeNavigate } from '$app/navigation';
    import { page, session } from '$app/stores';
    import { apiGet } from '$lib/api';
    import Fragment from '$lib/components/app/fragments/Fragment.svelte';
    import FragmentContainer from '$lib/components/app/fragments/FragmentContainer.svelte';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import type { IFragment } from '$lib/interfaces/fragment';
    import { t } from '$lib/translations';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { stringid } from '$lib/utils/sid';
    import { onMount } from 'svelte';

    export let fragment: IFragment = undefined;
    export let id: number = undefined;
    let draggingId: number | null = null;
    let draggingFragment: IFragment | null = null;

    onMount(() => {
        fragmenter.init($session.token);
    });

    beforeNavigate(async () => {
        id = null;
        fragment = null;
    });

    afterNavigate(async () => {
        const nid = stringid.from($page.params.slug);
        if (nid !== id) {
            id = nid;
        }
        const response = await apiGet<IFragment>(`fragment/${id}`, $session.token);
        fragment = response.data;
    });

    $: content = !!fragment ? fragment.content : $t('common.loading');

    const startDrag = (event: CustomEvent) => {
        draggingId = event.detail.id;
        const f = fragmenter.find(fragment, draggingId);
        if (!!f) {
            draggingFragment = f;
        } else {
            draggingId = null;
        }
    };
</script>

<AppTitle title={content} />

{#if fragment}
    <FragmentContainer {fragment} on:startdrag={startDrag} />
{/if}
{#if draggingFragment}
    <div class="absolute">
        <div class="w-200 z-50 border-cyan-500">
            <Fragment
                content={draggingFragment.content}
                type={draggingFragment.type}
                parentId={draggingFragment.parentId}
                afterId={draggingFragment.afterId}
                id={draggingFragment.id}
                rootId={draggingFragment.rootId}
                orgId={draggingFragment.orgId}
                fragments={draggingFragment.fragments}
                attributes={draggingFragment.attributes}
                interactive={false}
                fixed={true}
            />
        </div>
    </div>
{/if}
