<script lang="ts" context="module">
    export const hydrate = false;
</script>

<script lang="ts">
    import { afterNavigate, beforeNavigate } from '$app/navigation';
    import { page } from '$app/stores';
    import { apiGet } from '$lib/api';
    import ReadOnlyFragmentContainer from '$lib/components/app/fragments/ReadOnlyFragmentContainer.svelte';
    import AppLayout from '$lib/components/common/AppLayout.svelte';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import DocLayout from '$lib/components/common/DocLayout.svelte';
    import type { IFragment } from '$lib/interfaces/fragment';
    import { t } from '$lib/translations';
    import { stringid } from '$lib/utils/sid';

    export let fragment: IFragment = undefined;
    export let id: number = undefined;

    afterNavigate(async () => {
        const nid = stringid.from($page.params.slug);
        if (nid !== id) {
            id = nid;
        }
        const response = await apiGet<IFragment>(`public/fragment/${id}`);
        fragment = response.data;
    });

    $: content = !!fragment ? fragment.content : $t('common.loading');
</script>

<AppLayout>
    <DocLayout>
        <AppTitle title={content} />

        <section class="flex-1 pb-10 px-2 md:px-4 overflow-x-hidden ">
            {#if fragment}
                <ReadOnlyFragmentContainer {fragment} />
            {/if}
        </section>
    </DocLayout>
</AppLayout>
