<script lang="ts">
    import { browser } from '$app/env';
    import { goto } from '$app/navigation';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import Head from '$lib/components/common/Head.svelte';
    import FormHeaderError from '$lib/components/forms/FormHeaderError.svelte';
    import FormHeaderMessage from '$lib/components/forms/FormHeaderMessage.svelte';
    import Input from '$lib/components/forms/Input.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import { passwordRequestStore } from '$lib/stores/password-reset';
    import { t } from '$lib/translations';
    import { onMount } from 'svelte';

    let code = '';
    let error = '';
    let disabled = true;

    $: valid = code.length === 6 && /^[0-9]{6}$/.test(code);

    onMount(() => {
        disabled = false;

        if (browser && !$passwordRequestStore.token) {
            goto('/auth/password-forgotten');
        }
    });

    const submit = async (event) => {
        event.preventDefault();

        error = '';

        if (valid) {
            passwordRequestStore.update((request) => {
                return { ...request, code };
            });
            goto('/auth/password-reset');
        } else {
            error = 'common.invalid-code';
        }
    };

    onMount(async () => {
        document.getElementById('sec-code').focus();
    });
</script>

<AppTitle title={$t('common.recover-password')} />

<div class="mb-4">
    <Head title="common.recover-password" tagline="common.no-worry" />
</div>

<FormHeaderMessage message="common.recover-password-code" />

{#if error}
    <FormHeaderError message={error} />
{/if}

<div class="mb-4">
    <Input
        bind:value={code}
        type="code"
        name="sec-code"
        autocomplete="off"
        required
        {disabled}
        placeholder="common.code-placeholder"
        label="common.security-code"
    />
</div>

<div class="flex items-center justify-between">
    <SubmitButton label="common.recover-password" disabled={!valid} on:click={submit} />

    <a class="inline-block align-baseline font-bold text-sm text-zinc-500 hover:text-zinc-800" href="/auth/signin">
        <span class="ml-2">{$t('common.signin')}</span>
    </a>
</div>
