<script lang="ts">
    import { goto } from '$app/navigation';

    import { session } from '$app/stores';
    import { apiPost } from '$lib/api';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import Head from '$lib/components/common/Head.svelte';
    import FormHeaderError from '$lib/components/forms/FormHeaderError.svelte';
    import FormHeaderMessage from '$lib/components/forms/FormHeaderMessage.svelte';
    import Input from '$lib/components/forms/Input.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import { passwordRequestStore, resetPasswordRequest } from '$lib/stores/password-reset';
    import { t } from '$lib/translations';
    import { onMount } from 'svelte';

    let email = '';
    let error = '';
    let disabled = false;

    onMount(async () => {
        document.getElementById('username').focus();
        resetPasswordRequest();
    });

    const submit = async (e) => {
        e.preventDefault();
        if (disabled) {
            return;
        }

        error = '';
        disabled = true;

        resetPasswordRequest();

        const response = await apiPost<any>('auth/reset-password-request', $session.token, { email });

        if (response.ok) {
            passwordRequestStore.update((request) => {
                return { ...request, token: response.data.token };
            });

            goto('/auth/password-code');
            return;
        }

        if (response.status === 400) {
            error = 'common.credentials.invalid';
        } else if (response.status === 404) {
            error = 'common.credentials.unknown';
        } else {
            error = 'common.error.unknown';
        }

        disabled = false;
    };
</script>

<AppTitle title={$t('common.recover-password')} />

<form on:submit={submit}>
    <div class="mb-4">
        <Head title="common.recover-password" tagline="common.no-worry" />
    </div>

    {#if error}
        <FormHeaderError message={error} />
    {:else}
        <FormHeaderMessage message="common.recover-password-how-to" />
    {/if}

    <div class="mb-4">
        <Input
            bind:value={email}
            type="email"
            name="username"
            autocomplete="username"
            required
            {disabled}
            placeholder="common.email-placeholder"
            label="common.email-address"
        />
    </div>

    <div class="flex items-center justify-between">
        <SubmitButton label="common.recover-password" disabled={!email} on:click={submit} />

        <a class="inline-block align-baseline font-bold text-sm text-zinc-500 hover:text-zinc-800" href="/auth/signin">
            <span class="ml-2">{$t('common.signin')}</span>
        </a>
    </div>
</form>
