<script lang="ts">
    import { browser } from '$app/env';
    import { goto } from '$app/navigation';
    import { session } from '$app/stores';
    import { apiPost } from '$lib/api';

    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import Head from '$lib/components/common/Head.svelte';
    import FormHeaderError from '$lib/components/forms/FormHeaderError.svelte';
    import FormHeaderMessage from '$lib/components/forms/FormHeaderMessage.svelte';
    import Input from '$lib/components/forms/Input.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import type { IToken } from '$lib/interfaces/access';
    import type { IAuthenticatedUser } from '$lib/interfaces/user';
    import { passwordRequestStore } from '$lib/stores';
    import { t } from '$lib/translations';
    import { onMount } from 'svelte';
    import { field, form as formBuilder } from 'svelte-forms';
    import { required } from 'svelte-forms/validators';

    const password = field('password', '', [required()]);
    const confirm = field('password-confirm', '', [required()]);
    const fields = formBuilder(password, confirm);
    const minLen = 8;

    let error = '';
    let disabled = true;

    onMount(() => {
        disabled = false;

        if (browser && (!$passwordRequestStore.token || !$passwordRequestStore.code)) {
            goto('/auth/password-forgotten');
        }
    });

    const submit = async (event) => {
        event.preventDefault();

        error = '';

        if (!$password.valid || $password.value.length < minLen) {
            error = 'common.invalid-password';
            return;
        }

        if (!$confirm.valid || $confirm.value.length < minLen) {
            error = 'common.invalid-password';
            return;
        }

        if ($confirm.value !== $password.value) {
            error = 'common.password-not-confirmed';
            return;
        }

        disabled = true;

        const response = await apiPost<IAuthenticatedUser & IToken>('auth/reset-password-resolve', undefined, {
            password: $password.value,
            code: $passwordRequestStore.code,
            token: $passwordRequestStore.token
        });

        if (response.ok) {
            const data = response.data;
            session.set({ token: data.token, organization: { id: data.orgId }, user: data });
            goto(`/t/me`);
            return;
        }

        error = 'common.request.invalid';
        disabled = false;
    };

    onMount(async () => {
        document.getElementById('password').focus();
    });
</script>

<AppTitle title={$t('common.recover-password')} />

<form on:submit={submit}>
    <div class="mb-4">
        <Head title="common.recover-password" tagline="common.no-worry" />
    </div>

    {#if error}
        <FormHeaderError message={error} />
    {:else}
        <FormHeaderMessage message="common.recover-password-how-to" />
    {/if}

    <div class="mb-4">
        <Input
            bind:value={$password.value}
            type="password"
            name="password"
            autocomplete="new-password"
            required
            placeholder="common.password-placeholder"
            label="common.password"
        />
    </div>

    <div class="mb-4">
        <Input
            bind:value={$confirm.value}
            sid="password-confirm"
            type="password"
            name="password"
            autocomplete="new-password"
            required
            placeholder="common.password-placeholder"
            label="common.password-confirm"
        />
    </div>

    <div class="flex items-center justify-between">
        <SubmitButton
            label="common.reset-password"
            disabled={disabled || !$password.value || !$confirm.value}
            on:click={submit}
        />

        <a class="inline-block align-baseline font-bold text-sm text-zinc-500 hover:text-zinc-800" href="/auth/signin">
            <span class="ml-2">{$t('common.signin')}</span>
        </a>
    </div>
</form>
