<script lang="ts">
    import { t } from '$lib/translations';
    import Input from '$lib/components/forms/Input.svelte';
    import Head from '$lib/components/common/Head.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import FormHeaderError from '$lib/components/forms/FormHeaderError.svelte';
    import { onMount } from 'svelte';
    import { page, session } from '$app/stores';
    import { goto } from '$app/navigation';
    import type { IAuthenticatedUser } from '$lib/interfaces/user';
    import type { IToken } from '$lib/interfaces/access';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import { apiPost } from '$lib/api';

    let email = '';
    let password = '';
    let error = '';
    let disabled = false;

    const submit = async (event) => {
        error = '';
        event.preventDefault();
        disabled = true;

        const response = await apiPost<IAuthenticatedUser & IToken>('auth/register', $session.token, {
            email,
            password,
            twoFAEmail: false
        });

        if (response.status === 400) {
            error = 'common.credentials.invalid';
            disabled = false;
        } else if (!response.ok) {
            error = 'common.credentials.unknown';
            disabled = false;
        } else {
            const data = response.data;
            session.set({ token: data.token, organization: { id: data.orgId }, user: data });
            goto(`/t/me`);
        }
    };

    onMount(async () => {
        const params = new URLSearchParams($page.url.search);
        if (params.has('e')) {
            const param = params.get('e');
            if (!!param) {
                email = atob(decodeURIComponent(param));
            }
        }

        document.getElementById('username').focus();
    });
</script>

<AppTitle title={$t('common.register')} />

<form on:submit={submit}>
    <div class="mb-4">
        <Head title="common.register" />
    </div>

    {#if error}
        <FormHeaderError message={error} />
    {/if}

    <div class="mb-4">
        <Input
            bind:value={email}
            type="email"
            name="username"
            autocomplete="username"
            required
            {disabled}
            placeholder="common.email-placeholder"
            label="common.email-address"
        />
    </div>

    <div class="mb-4">
        <Input
            bind:value={password}
            type="password"
            name="password"
            autocomplete="new-password"
            required
            {disabled}
            placeholder="common.password-placeholder"
            label="common.password"
        />
    </div>

    <div class="flex items-center justify-between">
        <SubmitButton label="common.register" disabled={disabled || !email || !password} on:click={submit} />

        <a class="inline-block align-baseline font-bold text-sm text-zinc-500 hover:text-zinc-800" href="/auth/signin">
            <span class="ml-2">{$t('common.signin')}</span>
        </a>
    </div>
</form>
