<script lang="ts">
    import { onMount } from 'svelte';
    import { goto } from '$app/navigation';
    import { page, session } from '$app/stores';
    import Head from '$lib/components/common/Head.svelte';
    import Input from '$lib/components/forms/Input.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import { t } from '$lib/translations';
    import { field, form as formBuilder } from 'svelte-forms';
    import { email as emailValidator, required as requiredValidator } from 'svelte-forms/validators';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import { fragmenter } from '$lib/utils/fragmenter';
    import { apiPost } from '$lib/api';

    const email = field('email', '', [requiredValidator(), emailValidator()]);
    const password = field('password', '', [requiredValidator()]);
    const form = formBuilder(email, password);

    let error = '';
    let disabled = false;
    let displayErrors = false;
    let redirect = '/t/';

    $: thisSession = $session;

    const submit = async (event) => {
        event.preventDefault();

        // Validation
        await form.validate();
        if (!$form.valid) {
            displayErrors = true;
            return;
        }

        error = '';
        disabled = true;

        const response = await apiPost<any>('auth/signin', undefined, {
            email: $email.value,
            password: $password.value
        });

        if (response.down) {
            error = 'common.server.down';
            disabled = false;
            return;
        }

        if (!response.ok) {
            if (response.status === 401) {
                error = 'common.credentials.invalid';
            } else if (response.status === 404) {
                error = 'common.credentials.unknown';
            } else {
                error = 'common.server.down';
            }
            disabled = false;
            return;
        }

        const data = response.data;
        $session = { token: data.token, organization: { id: data.orgId }, user: data };
        fragmenter.init(data.token);

        goto(redirect);
        return;
    };

    onMount(async () => {
        document.getElementById('username').focus();
        const params = new URLSearchParams($page.url.search);
        if (params.has('redirect')) {
            redirect = params.get('redirect');
        }
    });

    const encodedEmail = () => {
        if (typeof btoa === 'undefined') {
            return '';
        }
        return encodeURIComponent(btoa($email.value));
    };

    const emailError = () => {
        if (!$email.value) {
            return 'validation.email-required';
        }
        if (!$email.valid) {
            return 'validation.email-invalid';
        }
        return '';
    };
</script>

<AppTitle title={$t('common.signin')} />

<form on:submit={submit}>
    <div class="mb-4">
        <Head title="common.signin" {error} />
    </div>
    <!-- 
    {#if error}
        <FormHeaderError message={error} />
    {/if} -->

    <div class="mb-4">
        <Input
            bind:value={$email.value}
            type="email"
            name="username"
            autocomplete="username"
            required
            {disabled}
            error={displayErrors && !$email.valid ? emailError() : ''}
            placeholder="common.email-placeholder"
            label="common.email-address"
        />
    </div>

    <div class="mb-4">
        <Input
            bind:value={$password.value}
            type="password"
            name="password"
            autocomplete="new-password"
            required
            {disabled}
            error={displayErrors && !$password.valid ? 'validation.password-required' : ''}
            placeholder="common.password-placeholder"
            label="common.password"
        />
    </div>

    <div class="flex items-center justify-between">
        <SubmitButton label="common.signin" {disabled} on:click={submit} />
    </div>

    <div class="mt-6 flex items-center justify-between">
        <a
            href="/auth/register{$email.valid ? `?e=${encodedEmail()}` : ''}"
            class="inline-block align-baseline text-sm text-zinc-500 hover:text-zinc-200"
        >
            <span class="ml-2">{$t('common.register')}</span>
        </a>
        <a
            href="/auth/password-forgotten"
            class="inline-block align-baseline text-sm text-zinc-500 hover:text-zinc-200"
        >
            <span class="ml-2">{$t('common.password.forgotten')}</span>
        </a>
    </div>
</form>
