<script lang="ts">
    import type { SvelteComponent } from 'svelte';
    import ExclamationCircleIconSolid from '../icons/ExclamationCircleIconSolid.svelte';

    export let type: 'alert' | 'warning' | 'info' = 'info';
    export let icon: typeof SvelteComponent | null = ExclamationCircleIconSolid;
</script>

<div
    class:bg-cheery-500,text-orange-100={type === 'alert'}
    class="mt-2 mb-4 p-2  items-center leading-none lg:rounded-full flex lg:inline-flex"
    role="alert"
>
    {#if icon}
        <span>
            <svelte:component this={icon} className="w-4 h-4" />
        </span>
    {/if}
    <span class="font-semibold ml-2 mr-2 text-left flex-auto">
        <slot />
    </span>
</div>
