<script lang="ts">
    import { t } from '$lib/translations';

    export let title = '';

    $: pageTitle = !!title ? `${title} - ${$t('common.brand-name')}` : $t('common.brand-name');
</script>

<svelte:head>
    <title>{pageTitle}</title>
</svelte:head>
