<script lang="ts">
    export let completion: number = 0;

    $: width = `${completion}%`;
    $: done = completion === 100;
</script>

<span
    class="flex-none inline-block relative overflow-hidden ml-1 mt-0.5 h-1 w-4 bg-zinc-300 dark:bg-zinc-500 rounded-sm"
>
    <span class="absolute h-1 rounded-sm" class:bg-pacific-500={!done} class:bg-green-500={done} style:width />
</span>
