<script lang="ts">
    import { t } from '$lib/translations';
    import FormHeaderError from '../forms/FormHeaderError.svelte';

    export let title = 'common.brand-name';
    export let error: string | null = null;
    export let tagline = 'common.tagline';
</script>

<div class="flex items-center">
    <a href="/" aria-label={$t('common.home')}>
        <img class="w-8 h-8 rounded-full shadow-md mr-4" src="/logo-white.png" alt={$t('common.brand-name')} />
    </a>
    {#if error}
        <FormHeaderError message={error} />
    {:else}
        <div class="text-sm">
            <h1 class=" text-zinc-700 dark:text-white font-bold"># {$t(title)}</h1>
            {#if tagline}
                <h5 class=" text-zinc-700 dark:text-zinc-400">{$t(tagline)}</h5>
            {/if}
        </div>
    {/if}
</div>
