<script lang="ts">
    import { browser } from '$app/env';

    import {
        fragmentContainerKeyBindings,
        getBindingKey,
        KeyBindingActions,
        KeyBindingCategories,
        keyBindings
    } from '$lib/stores/key-bindings';
    import { createEventDispatcher, onDestroy, onMount } from 'svelte';

    const dispatch = createEventDispatcher();

    export let action: KeyBindingActions;
    export let category: KeyBindingCategories;

    $: binding = $keyBindings.find((binding) => binding.action === action && binding.category === category);
    $: shortcutParts = !!binding ? binding.key.split('+') : [];

    const listener = (event: KeyboardEvent) => {
        const binding = $fragmentContainerKeyBindings[getBindingKey(event)];
        if (!!binding && binding.action === action && binding.category === category) {
            dispatch('shortcut', { event, ...binding });
            event.stopPropagation();
            event.preventDefault();
        }
    };

    onMount(() => {
        if (browser) {
            window.addEventListener('keydown', listener);
        }
    });

    onDestroy(() => {
        if (browser) {
            window.removeEventListener('keydown', listener);
        }
    });
</script>

<span class="mr-1 hidden lg:inline-block">
    {#each shortcutParts as part, i}
        {#if i > 0}<span class="text-zinc-400 dark:text-zinc-500 mx-0.5">+</span>{/if}<span
            class="py-1 px-1 bg-zinc-200 dark:bg-zinc-700 rounded-sm uppercase">{part === 'cmd' ? '⌘' : part}</span
        >
    {/each}
</span>
