<script lang="ts">
    import { t } from '$lib/translations';
</script>

<a class="inline-block align-baseline text-sm text-zinc-500 hover:text-zinc-200" href="/auth/register">
    <span class="ml-2">{$t('common.register')}</span>
</a>
