<script lang="ts">
    import { sidebarState } from '$lib/stores/sidebar-state';

    const closeSidebar = () => {
        $sidebarState.opened = false;
    };

    $: opened = $sidebarState.opened;
</script>

<aside
    id="sidebar"
    aria-labelledby="sidebar-toggler"
    role="menu"
    on:click={closeSidebar}
    class="sidebar absolute top-0 z-50 bottom-0 w-72 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out"
    class:-translate-x-full={!opened}
>
    <slot />

    <div
        class="absolute z-10 bottom-8 w-full p-0 h-24 bg-gradient-to-t from-zinc-100 dark:from-zinc-900 to-transparent pointer-events-none"
    />
</aside>
