<div class="flex md:items-center justify-center h-screen text-sm bg-zinc-50 dark:bg-zinc-800 font-source-code">
    <div class="w-full max-w-sm">
        <div class=" px-8 pt-6 pb-8 md:mb-4">
            <slot />
        </div>
    </div>
</div>
