<script lang="ts" context="module">
    export const hydrate = false;
</script>

<script lang="ts">
    import { afterNavigate, beforeNavigate } from '$app/navigation';
    import { page } from '$app/stores';
    import { apiGet } from '$lib/api';
    import type { IFragment } from '$lib/interfaces/fragment';
    import { markdown } from '$lib/utils/front/markdown';
    import { stringid } from '$lib/utils/sid';

    export let fragment: IFragment = undefined;
    export let id: number = undefined;

    afterNavigate(async () => {
        const nid = stringid.from($page.params.slug);
        if (nid !== id) {
            id = nid;
        }
        const response = await apiGet<IFragment>(`public/fragment/${id}`);
        fragment = response.data;
    });
</script>

<pre><code>
    {@html markdown.fragmentRootToMarkdown(fragment)};
</code></pre>
