@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Ubuntu Mono';
        src: url('/fonts/UbuntuMono-R.eot?') format('eot'), url('/fonts/UbuntuMono-R.woff') format('woff'),
            url('/fonts/UbuntuMono-R.ttf') format('truetype'),
            url('/fonts/UbuntuMono-R.svg#UbuntuMono-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: fallback;
    }

    @font-face {
        font-family: 'Ubuntu Mono';
        src: url('/fonts/UbuntuMono-B.eot?') format('eot'), url('/fonts/UbuntuMono-B.woff') format('woff'),
            url('/fonts/UbuntuMono-B.ttf') format('truetype'),
            url('/fonts/UbuntuMono-B.svg#UbuntuMono-Bold') format('svg');
        font-weight: 700;
        font-style: normal;
        font-display: fallback;
    }

    body {
        scrollbar-gutter: stable;
    }

    /* Fix autocomplete font on chrome: https://stackoverflow.com/questions/56026043/how-to-prevent-chrome-from-changing-font-when-autofilling-username-password */
    /* Doesnt work for Chrome 96+: https://stackoverflow.com/questions/56026043/how-to-prevent-chrome-from-changing-font-when-autofilling-username-password#comment123459998_57147062 */
    input:-webkit-autofill,
    input:-webkit-autofill::first-line,
    input:autofill,
    input:autofill:active,
    input:autofill:hover,
    input::-internal-input-suggested,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:active {
        font-family: 'Ubuntu Mono', 'Andale Mono', 'Lucida Console', monospace !important;
    }
}

@layer components {
    /**
     * Tasks
     * This directives are set here in order not complexify task template.
     * Rare case 
     */
    .taasked-task-done {
        @apply bg-transparent focus:outline-none focus:text-zinc-400 active:text-zinc-400 text-zinc-400 dark:text-zinc-500;
    }
    .taasked-task-urgent {
        @apply bg-transparent focus:outline-none text-clementine-600 dark:text-clementine-500 focus:text-clementine-600 dark:focus:text-clementine-300 active:text-zinc-400;
    }
    .taasked-task-base {
        @apply bg-transparent focus:outline-none text-zinc-700 dark:text-zinc-300;
    }

    /**
     * 
     */
    .marked {
        @apply font-source-code text-zinc-600 dark:text-zinc-200;
    }
    .marked code {
        font-family: 'Ubuntu Mono', 'Andale Mono', 'Lucida Console', monospace;
        font-size: inherit;
        @apply bg-zinc-200 dark:bg-zinc-700 py-1 rounded-sm;
    }

    .taasked-urgent.marked {
        @apply text-clementine-600 dark:text-clementine-500 !important;
    }

    .marked pre code {
        @apply bg-zinc-100 dark:bg-zinc-800;
    }

    /**
     * Markdown editor
     */
    .CodeMirror {
        height: auto !important;
        min-height: 100%;
        @apply bg-zinc-50 dark:bg-zinc-800 font-source-code leading-6 text-zinc-600 dark:text-zinc-200 !important;
    }
    .taasked-urgent .CodeMirror {
        @apply text-clementine-600 dark:text-clementine-500 !important;
    }
    .CodeMirror-sizer {
        min-height: 1.7rem !important;
    }
    .CodeMirror-sizer > div {
        min-height: 1.7rem !important;
    }

    .CodeMirror-scroll {
        overflow: auto;
        min-height: 1.7rem !important;
    }
    .CodeMirror-lines,
    .CodeMirror pre.CodeMirror-line,
    .CodeMirror pre.CodeMirror-line-like {
        padding: 0 !important;
        margin: 0 !important;
        min-height: 1.4rem !important;
        padding-bottom: 0 !important;
    }

    span.cm-def,
    span.cm-tag,
    span.cm-builtin,
    span.cm-qualifier,
    span.cm-header,
    span.cm-em {
        @apply font-normal text-zinc-700 dark:text-zinc-200 !important;
    }
    span.cm-header {
        @apply font-semibold text-zinc-700 dark:text-zinc-100 !important;
    }

    div.CodeMirror-selected {
        @apply bg-zinc-400 dark:bg-zinc-600 !important;
    }

    /* not used yet */
    .CodeMirror-gutters {
    }
    .CodeMirror-gutter {
    }
    .CodeMirror-linenumber {
    }

    /* begin cursor */
    .CodeMirror-cursor {
        border-left: 1px solid;
        border-right: 0.5em solid;
        opacity: 0.5;
        @apply border-zinc-700 dark:border-zinc-200;
    }
    .CodeMirror-activeline-background {
        background: transparent;
        opacity: 0.5;
    }
    .cm-fat-cursor .CodeMirror-cursor {
        background: #cca133;
        opacity: 0.5;
    }
    /* end cursor */

    .cm-variable-2,
    .cm-variable-3,
    .cm-string-2,
    .cm-link {
        @apply font-normal text-zinc-700 dark:text-zinc-200  !important;
    }

    .cm-atom,
    .cm-number,
    .cm-keyword,
    .cm-variable,
    .cm-attribute,
    .cm-quote,
    .cm-hr,
    .cm-url {
        @apply text-zinc-400 dark:text-zinc-500  !important;
    }

    span.cm-property {
        color: #9c818b;
    }
    span.cm-punctuation,
    span.cm-unit,
    span.cm-negative {
        color: #b88914;
    }
    span.cm-string {
        color: #ddaf3c;
    }
    span.cm-operator {
        color: #cca133;
    }
    span.cm-positive {
        color: #ad1f51;
    }

    .cm-s-default span.cm-bracket,
    .cm-s-default span.cm-comment {
        @apply font-normal text-zinc-700 dark:text-zinc-200  !important;
        @apply bg-zinc-200 dark:bg-zinc-700 py-1 rounded-sm;
    }

    .taasked-code .cm-s-default span.cm-comment {
        @apply bg-transparent dark:bg-transparent !important;
    }

    /* using #f00 red for errors, don't think any of the colorscheme variables will stand out enough, ... maybe by giving it a background-color ... */
    span.cm-error,
    span.cm-invalidchar {
        color: #f00;
    }

    .CodeMirror-matchingbracket {
        text-decoration: underline;
        color: #ffebf2 !important;
    }
}
