<script lang="ts">
    import { afterNavigate } from '$app/navigation';
    import { page } from '$app/stores';

    import FragmentTitle from '$lib/components/app/fragments/FragmentTitle.svelte';
    import SideMenuToggler from '$lib/components/app/menu/SideMenuToggler.svelte';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import { t } from '$lib/translations';
    import { stringid } from '$lib/utils/sid';

    let id: number | undefined;

    afterNavigate(() => {
        id = $page.params.parentId === 'root' ? null : stringid.from($page.params.parentId) || null;
    });
</script>

<AppTitle title={$t('common.create')} />

<SideMenuToggler />

<FragmentTitle id={null} attributes={{}} parentId={id} content="" autofocus={true} />
