<script lang="ts">
    import { goto } from '$app/navigation';
    import { session } from '$app/stores';
    import { apiPost } from '$lib/api';
    import AppTitle from '$lib/components/common/AppTitle.svelte';
    import Head from '$lib/components/common/Head.svelte';
    import Input from '$lib/components/forms/Input.svelte';
    import SubmitButton from '$lib/components/forms/SubmitButton.svelte';
    import { t } from '$lib/translations';
    import { onMount } from 'svelte';
    import { field, form as formBuilder } from 'svelte-forms';
    import { required as requiredValidator } from 'svelte-forms/validators';

    const name = field('name', '', [requiredValidator()]);
    const form = formBuilder(name);

    let error = '';
    let disabled = false;
    let displayErrors = false;
    let redirect = '/t/';

    const submit = async (event) => {
        event.preventDefault();

        // Validation
        await form.validate();
        if (!$form.valid) {
            displayErrors = true;
            return;
        }

        error = '';
        disabled = true;

        const response = await apiPost<any>('organization', $session.token, {
            name: $name.value
        });

        if (response.down) {
            error = 'common.server.down';
            disabled = false;
            return;
        }

        // if (!response.ok) {
        //     if (response.status === 401) {
        //         error = 'common.credentials.invalid';
        //     } else if (response.status === 404) {
        //         error = 'common.credentials.unknown';
        //     } else {
        //         error = 'common.server.down';
        //     }
        //     disabled = false;
        //     return;
        // }

        const data = response.data;

        goto(redirect);
        return;
    };

    onMount(async () => {
        document.getElementById('name').focus();
    });
</script>

<AppTitle title={$t('common.create-workspace')} />

<form on:submit={submit}>
    <div class="mb-4">
        <Head title="common.create-workspace" tagline="common.create-workspace-tagline" {error} />
    </div>
    <!-- 
    {#if error}
        <FormHeaderError message={error} />
    {/if} -->

    <div class="mb-4">
        <Input
            bind:value={$name.value}
            type="name"
            name="name"
            required
            {disabled}
            error={displayErrors && !$name.valid ? $t('common.workspace-name-required') : ''}
            placeholder="common.workspace-placeholder"
            label="common.workspace-name"
        />
    </div>

    <div class="flex items-center justify-between">
        <SubmitButton label="common.continue" {disabled} on:click={submit} />
        <a href="/t" class="inline-block align-baseline text-sm text-zinc-500 hover:text-zinc-200">
            <span class="ml-2">{$t('common.get-me-back')}</span>
        </a>
    </div>
</form>
